<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chat Room</title>
  <style>
    .matched-user {
      color: green;
    }

    .other-user {
      color: blue;
    }

    .notification {
      color: #ffb4b4;
    }

    #chat-section {
      display: none;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<style>
  .matched-user {
    color: green;
  }

  .other-user {
    color: blue;
  }

  #chat-section {
    display: none;
  }
</style>

<div class="container">
  <div class="row my-4">
    <div class="col">
      <button id="online-status-toggle" class="{{ request.user.is_online|yesno:"btn btn-success,btn btn-secondary" }}"
              data-status={{ request.user.is_online }}>
        {{ request.user.is_online|yesno:"Online,Offline" }}
      </button>
      <button id="find-match" class="btn btn-primary">Find Match</button>
      <div>{% csrf_token %}</div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="chat-section">
        <div id="chat-log" class="border p-3" style="height: 300px; overflow: auto;">
          <ul class="list-unstyled"></ul>
        </div>
        <div class="input-group my-3">
          <textarea id="chat-message-input" class="form-control" rows="3"></textarea>
          <div class="input-group-append">
            <button id="chat-message-submit" class="btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let user_id = {{ request.user.id }};
  let chatSocket;

  function displayChatSection(display) {
    document.getElementById('chat-section').style.display = display ? 'block' : 'none';
  }

  function connectToRoom(roomName) {
    if (chatSocket) {
      chatSocket.close();
    }
    chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');
    displayChatSection(true);

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      const handleUserMessage = (message, className) => {
        let newItem = document.createElement('li');
        newItem.textContent = message;
        newItem.classList.add(className);
        document.querySelector('#chat-log ul').appendChild(newItem);
      };

      if (data.message) {
        handleUserMessage(
          data.message,
          data.user.id === user_id ? 'matched-user' : 'other-user'
        );
      } else if (data.notification) {
        let message;
        if (data.notification_type === "connection" && data.user.id !== user_id) {
          message = "You are now connected to " + data.user.first_name;
          handleUserMessage(message, 'notification');
          let other_user_details = document.createElement('div');
          other_user_details.textContent =
            "Name: " + data.user.first_name + " " + data.user.last_name + ", " +
            "Gender: " + (data.user.gender || "N/A") + ", " +
            "Country: " + (data.user.country || "N/A")

          document.querySelector('#chat-log ul').appendChild(other_user_details);
        } else if (data.notification_type === "disconnection" && data.user.id !== user_id) {
          message = "You are now disconnected from " + data.user.first_name;
          handleUserMessage(message, 'notification');
        }
      }
    };


    chatSocket.onclose = function (e) {
      console.log('Chat socket closed.');
    };


    document.querySelector('#chat-message-submit').onclick = function (e) {
      const messageInputDom = document.querySelector('#chat-message-input');
      const message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
        'message': message
      }));
      messageInputDom.value = "";
    };
  }

  document.addEventListener('DOMContentLoaded', () => {
    const mainSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');
    displayChatSection(false);

    mainSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      if (data.room_name) {
        console.log("Match found, joining room:", data.room_name);
        connectToRoom(data.room_name);
      } else if (data.error) {
        alert(data.error)
      }
    };

    mainSocket.onclose = function (e) {
      console.log('Chat socket closed');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
      if (e.keyCode === 13) {
        document.querySelector('#chat-message-submit').click();
      }
    };
    document.querySelector('#find-match').onclick = function (e) {
      if (chatSocket) {
        chatSocket.close();
      }
      const onlineStatus = document.getElementById('online-status-toggle').getAttribute('data-status');
      if (onlineStatus === 'False') {
        alert('You are offline, please go online to find a match');
        return;
      }
      mainSocket.send(JSON.stringify({
        'action': 'find_match'
      }));
    };
    const onlineStatusToggle = document.getElementById('online-status-toggle');

    onlineStatusToggle.addEventListener('click', function () {
      const userId = this.getAttribute('data-user-id');
      const currentStatus = this.getAttribute('data-status');
      fetch('/toggle_online_status/', {
        method: 'POST',
        headers: {
          'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        },
      })
        .then(response => {
          if (response.ok) {
            if (currentStatus === 'True') {
              this.setAttribute('data-status', 'False');
              onlineStatusToggle.classList.remove('btn-success');
              onlineStatusToggle.classList.add('btn-secondary');
              onlineStatusToggle.textContent = 'Offline';

            } else {
              this.setAttribute('data-status', 'True');
              onlineStatusToggle.classList.remove('btn-secondary');
              onlineStatusToggle.classList.add('btn-success');
              onlineStatusToggle.textContent = 'Online';
            }
          }
        })
        .catch(error => console.error(error));
    });
  });

</script>
</body>
</html>
